/* GENERAL */

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100vw;
    margin: auto;
}

a{
    text-decoration: none;
    transition: color 1s;
    font-size: 1em;
}

a:hover{
    text-decoration: none;
    text-shadow: 8px 8px 8px rgb(170, 170, 170);
    color:#0065FC;   
}

ul{
    text-decoration: none;
    list-style-type: none;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.2em;
}

p{
    font-size: 1em;
}

/* HEADER */

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}
#logo{
    margin-left: 20px;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1em;
}

.inscription{
    display: flex;
    flex-direction: row;
    margin-left: 170px;
}

/* SECTION PRESENTATION + RECHERCHE*/

.presentation{
    font-size: 1.1em;
    margin-left: 20px;
    width: 350px;
}

.recherche{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20px;
    margin-top: 40px;
}

.recherche form{
    display: flex;
    align-content: flex-start;
}

.icone_maps{
    background-color: #f2f2f2;
    padding: 20px 20px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.recherche input{
    border: 0.1px solid #f2f2f2;
    padding: 20px 10px;
}

.recherche form input{
    font-size: 1.2em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.button{
    border-radius: 20px;
    padding: 20px 20px;
    margin-left: -15px;
    font-size: 1.2rem;
    color: white;
    background-color: #0065FC;
    border:none;
}

/* SECTION FILTRES */

.filtre{
    display: flex;
    flex-direction: column;
}

.filtre h2{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.2em;
}

.filtre ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -25px;
}

.categorie li{
    border-right:#cecdcd solid 2px;
    border-bottom: #cecdcd solid 2px;
    border-top: #cecdcd solid 2px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.categorie li i{
    background-color:#DEEBFF;
    color: #0065FC;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.1rem;
}

.categorie li a{
    margin-left: 10px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
}

.info{
    margin-bottom: 50px;
}

.info p{
    margin-left: 20px;
    font-size: 1.2em;
}

.info i{
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    font-size: 1.5em;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: white;
    margin-right: 10px;  
}

/* SECTION HEBERGEMENTS GLOBALE*/

#section_globale{
    display: flex;
    flex-direction: column;

    background-color: aquamarine;
    width: 100%;
    height: 3379px;
}

/* SECTION POPULAIRES */

#section_populaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100vw;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section_populaire h1
{
    padding-right: 100px;
}

.ico_populaire
{
    font-size: 1.5em;
    margin-right: 0%;
}



.card_populaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 335px;
    height: 145px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card_populaire p{
    margin-top: -8px;
    margin-bottom: 40px;
}


.img_card_populaire{
    object-fit: cover;
    width: 127px;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.etoiles{
    color: #0065FC;
    font-size: .7rem;
}

/*
.resultat_hebergement{
    background-color: chocolate;
}

.resultat_activite{
    background-color: crimson;
}







