@font-face {
    font-family: 'Raleway';
    src:url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
/* GENERAL */
body{
    font-family: 'Raleway';
    font-size: 15px;
    width: 100%;
    margin: auto;
}

a{
    text-decoration: none;
    font-size: 1em;
    color: #000;
}

ul{
    list-style-type: none;
}

h1 h2{
    font-size: 1.5em;
}

h3{
    font: 0.5em;
    color: black;
}

p{
    font-size: 1em;
    color: black;
}

/* HEADER */
.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.inscription{
    margin-left: 158px;
}

.inscription a{
    font-weight: 700;
    color: #0065FC;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: -11%;
}

.lien_hebergements{
    border-bottom: solid #0065FC 4px;
    padding: 0 49px 15px 44px;
}

.lien_hebergements a{
    font-weight: 500;
    color: #0065FC;
}

.lien_activites{
    border-bottom: solid #f2f2f2f2 4px;
    padding: 0 65px 15px 55px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    font-size: 1em;
}

/* SECTION PRESENTATION + RECHERCHE*/
.presentation{
    font-size: 1.1em;
    margin-left: 20px;
}

.recherche{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 40px;
}

.recherche form{
    display: flex;
    align-content: flex-start;
}

.icone_maps{
    background-color: #f2f2f2;
    padding: 20px 20px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.recherche input{
    border: 0.1px solid #f2f2f2;
    padding: 10px 10px;
}

.recherche form input{
    font-size: 1.1em;
    font-family: 'Raleway-Regular';
    font-weight: bold;
    padding-left: 15px;
}

.button_2{
    display: none;
}

.button{
    border-radius: 20px;
    padding: 20px 20px;
    margin-left: -35px;
    font-size: 1.2rem;
    color: white;
    background-color: #0065FC;
    border:none;
}

/* SECTION FILTRES */
.filtre{
    display: flex;
    flex-direction: column;
}

.filtre h3{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.2em;
}

.filtre ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -27px;
}

.categorie li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right:#F2F2F2 solid 2px;
    border-bottom:#F2F2F2 solid 2px;
    border-top: #F2F2F2 solid 2px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.categorie li i{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#DEEBFF;
    color: #0065FC;
    height: 100%;
    padding: 20px;
    border-radius: 50%;
}

.categorie li a{
    margin-left: 10px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.info p{
    margin-left: 5px;
    font-size: 1.2em;
}

.info i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid #F2F2F2;
    padding: 5px 8px 5px 8px;
    border-radius: 50px;
    color: #0065FC;
    margin-right: 0px;
    margin-left: 1rem;
    min-width: 10px;
}

/* SECTION HEBERGEMENTS GLOBALE*/

#section_globale{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* SECTION POPULAIRES */

#section_populaire{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100%; height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section_populaire h2{
    padding-right: 100px;
}

.ico_populaire{
    font-size: 1.5em;
    margin-right: 0%;
}

.element_populaire{
    display: flex;
    justify-content: space-between;
}

.resultat_populaire{
    display: flex;
    flex-direction: column;
}

.card_populaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 325px; 
    height: 145px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.card_populaire p{
    margin-top: -8px;
    margin-bottom: 40px;
}

.img_card_populaire{
    object-fit: cover;
    width: 127px; 
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.etoiles{
    color: #0065FC;
    font-size: .7rem;
}
.etoiles_grise {
    color:rgb(217, 217, 217);
}

/* SECTION HEBERGEMENT A MARSEILLE */

#hebergements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height:1412px;
    margin-bottom: 50px;
    margin-top: 60px;
}

#hebergements h2, .afficher_plus{
    margin-left: 20px;
}

.resultat_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 325px; 
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.info_card_hebergement{
    line-height: 0.6;
    margin-left: 15px;
}

.img_card_hebergement{
    object-fit: cover;
    width: 100%; 
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.afficher_plus{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

/* SECTION ACTIVITES */

#activite{
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
}

#activite h2, .resultat_activite h3{
    margin-left: 20px;   
}

.resultat_activite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_activite{
    background-color: white;
    width: 330px; 
    height: 188px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
    margin-bottom: 20px;
}

.img_card_activite{
    object-fit: cover;
    width: 100%; 
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* SECTION FOOTER */

.footer{
    width: 100%; 
    height: 450px;
    background-color: #F2F2F2;
    padding-top: 40px;
}

.infos_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer ul{
    margin-left: -20px;
    line-height: 1.9;
}

.footer a{
    color: black;
}

.footer h3{
    margin-left: 20px;
}

@media screen and (max-width: 320px){
    body, #logo {
       margin: auto;
    }

    .presentation {
        margin-left: 10px;
    }
    .lien_hebergements{
        border-bottom: solid #0065FC 4px;
        padding: 0px 31px 15px 39px;
        color: #0065FC;
        font-weight: 500;
        margin-left: -11px;
    }
    
    .lien_activites{
        border-bottom: solid #f2f2f2f2 4px;
        padding: 0px 50px 15px 43px;
        color: #333;
        margin-right: -36px;
    }

    .inscription{
        margin-left: 125px;
    }

    .button {
        margin-left: -45px;
    }

    .recherche form input {
        padding-left: 10px;
        font-size: 1rem;
    }

    #section_populaire, #hebergements, #activite{
        width: 100%;
    }
    #section_populaire {
        flex-direction: row;
    }

    #section_populaire h2 {
        padding-right: 65px;
        margin-left: 5px;
    }

    .element_populaire{
        justify-content: space-around;
    }

    .card_populaire{
        margin-right: 2px;
        width: 280px;
    }

    .ico_populaire {
        margin-right: 5px;
    }

    #hebergements h2, #activite h2{
        margin-left: 10px;
    }

    .card_hebergement {
        width: 280px;
    }

    .card_activite {
        width: 280px;
    }

    .footer{
        width: 100%;
    }
}

@media screen and (min-width: 425px){
    .lien_hebergements{
        border-bottom: solid #0065FC 4px;
        padding: 0 63px 15px 63px;
        color: #0065FC;
        font-weight: 500;
        margin-left: 0px;
    }
    
    .lien_activites{
        border-bottom: solid #f2f2f2f2 4px;
        padding: 0 73px 15px 70px;
        color: black;
        margin-right: 0;
    }

    .inscription{
        margin-left: 200px;
    }
    .button {
        margin-left: -15px;
    }

    .icone_maps {
        margin-left: 25px;
    }
}

@media screen and (min-width: 600px){

    /* HEADER */
    .header{
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    #logo {
        align-items: baseline;
    }

    .menu a:hover{
        border-top: solid #0065FC;
        color: #0065FC;
        width: 100px;
        font-weight: 500; 
        padding-top: 43px;       
    }

    .inscription {
        margin-left: 550px;
    }

    .lien_hebergements {
        margin-left: -450px;
    }

    .lien_activites {
        margin-left: 50px;
    }

    .lien_hebergements a{
        font-weight: 400;
        color: black;
    }

    .lien_hebergements,.lien_activites {
        display: block;
        border: none;
        padding: 30px 50px 0 0px;
        font-size: 1.1em;
    }

    p{
        font-size: 1.1em;
    }

   .icone_maps{
        padding: 17px 20px;
    }

    .button{
        display: none;
    }

    .button_2{
        display: flex;
        background-color: #0065FC;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 0 1rem 1rem 0;
        padding: 0 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        align-items: center;
    }
    
    .filtre{
        flex-direction: row;
        margin-top: 30px;
    }
    .categorie{
        margin-left: 20px;
    }

    /* SECTION GLOBALE + HEBERGEMENTS + LES +POPULAIRES */

    #section_globale{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
 
    #hebergements{
        margin-top: 0;
        height: 750px;
        background-color: #F2F2F2;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 50px;
        padding: 20px;
        box-shadow: 1px 1px 8px rgb(170, 170, 170);
    }

    #hebergements h2{
        margin-left: 115px;
    }

    .resultat_hebergement{
        justify-content: space-around;
    }

    #section_populaire{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 50px;
        border-radius: 50px;
        box-shadow: 1px 1px 8px rgb(170, 170, 170);
    }

    /* SECTION ACTIVITES */

    #activite h2{
        margin-left: 132px;
    }

    .resultat_activite{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
    }

    .card_activite{
        margin-bottom: 30px;
        width: 500px;
        height: 250px;
    }

    .img_card_activite{
        height: 195px;
    }

    /* FOOTER */

    .footer{
        height: 200px;
    }

    .infos_footer{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 620px){
    #activite h2,  #hebergements h2{
        margin-left: 65px;
    }

    .inscription {
        margin-left: 400px;
    }

    .lien_hebergements {
        margin-left: -400px;
    }

    .lien_activites {
        margin-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    
    .inscription {
        margin-left: 550px;
    }

    .lien_hebergements {
        margin-left: -400px;
    }

    .lien_activites {
        margin-left: 15px;
    }
}

@media screen and (min-width: 920px){

    .inscription {
        margin-left: 700px;
    }

    .card_populaire, .card_hebergement{
        width: 400px;
    }

    .img_card_populaire{
        width: 200px;
    }

    .card_activite{
        width: 335px;
        height: 308px;
    }

    .img_card_activite{
        height: 250px;
    }
}

@media screen and (min-width: 1024px){
        #section_globale{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #section_populaire:nth-child(1){
        order: 2;
    }

    #hebergements:nth-child(2){
        order: 1;
    }

    #activite:nth-child(3){
        order: 3;
    }

   
    .inscription {
        margin-left: 800px;
    }

    .lien_hebergements {
        margin-left: -400px;
    }

    .lien_activites {
        margin-left: 15px;
    }
    #hebergements h2{
        margin-left: 23px;
    }

    #hebergements{
        background-color: #F2F2F2;
        width: 80%; 
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 30px;
        padding: 20px;
    }

    .card_hebergement{
        width: 335px;
    }

    #activite{
        display: flex;
        width: 100%;
    }

    #activite h2{
        margin-left: 20px;
    }

    .card_activite{
        margin: 15px;
    }

    .card_act1, .card_act4{
        width: 300px; 
        height: 445px;
    }

    .img_act1, .img_act4{
        height: 390px;
    }

    .card_act2{
        width: 300px; 
        height: 235px;
    }

    .img_act2{
        width: 100%; 
        height: 180px;
    }

    .card_act3{
        width: 300px; 
        height: 164px;
    }

    .img_act3{
        width: 100%; 
        height: 110px;
    }

    .card_act5, .card_act6{
        width: 472px; 
        height: 210px;
    }

    .img_act5, .img_act6{
        width: 100%; 
        height: 152px;
    }

    .resultat_activite{
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
    }

    .first_part, .second_part{
        display: flex;
        flex-direction: column;
    }

    .three_part{
        display: flex;
    }

    .four_part{
        display: flex;
        flex-direction: row;
    }

    .footer{
        height: 200px;
    }

    .infos_footer{
        justify-content: flex-start;
    }

    .nos_hebergements{
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media screen and (min-width: 1280px) {
    .header, .presentation, .filtre h3{
        margin-left: 35px;
    }

    .inscription {
        margin-left: 1050px;
    }

    .lien_hebergements {
        margin-left: -500px;
    }

    .lien_activites {
        margin-left: 15px;
    }

    #logo{
        margin-left: 0;
    }

    .categorie li{
        margin-right: 30px;
    }

    .categorie li a{
        margin-left: 20px;
        margin-right: 35px;
        font-size: 1.2em;
    }

    .categorie li:hover{
        transform:scale(1.1);
        transition: all 1s ease;
    }

    a:hover{        
        transform:scale(1.03);
        transition: all 0.5s ease;
    }

    .info{
        margin-bottom: 15px;
    }

    .info p{
        margin-left: 10px;
        font-size: 1.35em;
    }

    .info i{
        margin-left: 30px;
    }

    #section_globale{
        width: 100%;
        margin: auto;
    }

    .lien_activites{
        margin: 0 70px;
        
    }

    #hebergements h2{
        margin-left: 23px;
    }

    #hebergements{
        background-color: #F2F2F2;
        width: 60%;
        height: 620px;
        margin-left: 35px; 
        margin-right: 20px;
        border-radius: 20px;
        padding: 20px;
        justify-content: center;
        box-shadow: none;
    }

    #hebergements h2{
        margin-bottom: 25px;
    }

    .card_hebergement{
        width: 235px;
    }

    #section_populaire{
        margin-left: 0;
        margin-right: 0;
        width: 30%;
        border-radius: 20px;
        height: 620px;
        margin-left: 20px;
        box-shadow: none;
    }

    .card_populaire{
        width: 100%;
    }

    .img_card_populaire{
        width: 127px;
    }

    #activite h2{
        margin-left: 30px;
    }
    
    .card_act5 {
        width: 300px; 
        height: 195px;
    }

    .img_act5{
        width: 100%; 
        height: 140px;
    }
    
   .card_act6 {
        width: 300px;
    }

    .four_part {
        flex-direction: column;
    }

    .a_propos {
        margin-left: 10px;
    }
}

@media screen and (min-width: 1440px) {
    .inscription {
        margin-left: 1200px;
    }

    .lien_hebergements {
        margin-left: -480px;
    }

    .lien_activites {
        margin-left: 55px;
    }
}

@media screen and (min-width: 1600px) {
    .inscription {
        margin-left: 1300px;
    }

    .lien_hebergements {
        margin-left: -550px;
    }

    .lien_activites {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1750px) {
    body {
        width: 95vw;
    }

    .inscription {
        margin-left: 1400px;
    }

    .card_hebergement {
        width: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .inscription {
        margin-left: 1550px;
    }

    .lien_hebergements {
        margin-left: -600px;
    }

    .lien_activites {
        margin-left: 80px;
    }
}

@media screen and (min-width: 2500px) {
    body {
        width: 85vw;
    }
    .card_hebergement {
        width: 335px;
    }
    .inscription {
        margin-left: 1850px;
    }

    .lien_hebergements {
        margin-left: -650px;
    }
}