/* GENERAL */

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100vw;
    margin: auto;
}

a{
    text-decoration: none;
    transition: color 1s;
    font-size: 1em;
}

a:hover{
    text-decoration: none;
    text-shadow: 8px 8px 8px rgb(170, 170, 170);   
}

ul{
    list-style-type: none;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}

h3{
    font: 0.5em;
    color: black;
}

p{
    font-size: 1em;
    color: black;
}

/* HEADER */

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.inscription{
    margin-left: 150px;
}

.lien_inscription{
    display: none;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: -11%;
}

.lien_hebergements{
    border-bottom: solid #0065FC 4px;
    padding: 0 40px 15px 40px;
}

.lien_activites{
    border-bottom: solid #f2f2f2f2 4px;
    padding: 0 60px 15px 60px;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1em;
}

/* SECTION PRESENTATION + RECHERCHE*/

.presentation{
    font-size: 1.1em;
    margin-left: 20px;
}

.recherche{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 40px;
}

.recherche form{
    display: flex;
    align-content: flex-start;
}

.icone_maps{
    background-color: #f2f2f2;
    padding: 20px 20px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.recherche input{
    border: 0.1px solid #f2f2f2;
    padding: 10px 10px;
}

.recherche form input{
    font-size: 1.1em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.button{
    border-radius: 20px;
    padding: 20px 20px;
    margin-left: -15px;
    font-size: 1.2rem;
    color: white;
    background-color: #0065FC;
    border:none;
}

/* SECTION FILTRES */

.filtre{
    display: flex;
    flex-direction: column;
}

.filtre h3{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.2em;
}

.filtre ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -25px;
}

.categorie li{
    border-right:#cecdcd solid 2px;
    border-bottom: #cecdcd solid 2px;
    border-top: #cecdcd solid 2px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.categorie li i{
    background-color:#DEEBFF;
    color: #0065FC;
    padding: 18px;
    border-radius: 50%;
    font-size: 1.1rem;
}

.categorie li a{
    margin-left: 10px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
}

.info{
    margin-bottom: 50px;
}

.info p{
    margin-left: 20px;
    font-size: 1.2em;
}

.info i{
    background-color: white;
    border: 3px solid #F2F2F2;
    padding: 5px 10px 5px 10px;
    font-size: 0.8em;
    border-radius: 50px;
    color: #0065FC;
    margin-right: 10px;  
}

/* SECTION HEBERGEMENTS GLOBALE*/

#section_globale{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* SECTION POPULAIRES */

#section_populaire{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100vw;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section_populaire h2{
    padding-right: 100px;
}

.ico_populaire{
    font-size: 1.5em;
    margin-right: 0%;
}

.element_populaire{
    display: flex;
    justify-content: space-between;
}

.card_populaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 145px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.card_populaire p{
    margin-top: -8px;
    margin-bottom: 40px;
}

.img_card_populaire{
    object-fit: cover;
    width: 127px;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.etoiles{
    color: #0065FC;
    font-size: .7rem;
}

/* SECTION HEBERGEMENT A MARSEILLE */

#hebergements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:1412px;
    margin-bottom: 50px;
    margin-top: 60px;
}

#hebergements h2{
    margin-left: 20px;
}

.resultat_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 335px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.info_card_hebergement{
    line-height: 0.6;
    margin-left: 15px;
}

.img_card_hebergement{
    object-fit: cover;
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.afficher_plus{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 20px;
}

/* SECTION ACTIVITES */

#activite{
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
}

#activite h2{
    margin-left: 20px;   
}

.resultat_activite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_activite_1, .card_activite_2, .card_activite_3, .card_activite_4, .card_activite_5, .card_activite_6{
    background-color: white;
    width: 335px;
    height: 188px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
    margin-bottom: 20px;
}

.img_card_activite_1, .img_card_activite_2, .img_card_activite_3, .img_card_activite_4, .img_card_activite_5, .img_card_activite_6{
    object-fit: cover;
    width: 100%;
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.resultat_activite h3{
    margin-left: 20px;
}

/* SECTION FOOTER */

.footer{
    width: 100%;
    height: 450px;
    background-color: #F2F2F2;
    padding-top: 40px;
}

.infos_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer ul{
    margin-left: -20px;
    line-height: 1.9;
}

.footer a{
    color: black;
}

.footer h3{
    margin-left: 20px;
}

@media screen and (max-width: 320px){
    .lien_hebergements{
        border-bottom: solid #0065FC 4px;
        padding: 0 40px 15px 40px;
        color: #0065FC;
        font-weight: 500;
        margin-left: -11px;
    }
    
    .lien_activites{
        border-bottom: solid #f2f2f2f2 4px;
        padding: 0 55px 15px 55px;
        color: #333;
        margin-right: -30px;
    }

    .inscription{
        margin-left: 130px;
    }

    #section_populaire, #hebergements, #activite{
        width: 350px;
    }

    .card_populaire{
        width: 320px;
    }

    .footer{
        width: 355px;
    }

    .recherche form input{
        padding-left: 2px;
    } 
}

@media screen and (min-width: 425px){
    .lien_hebergements{
        border-bottom: solid #0065FC 4px;
        padding: 0 60px 15px 60px;
        color: #0065FC;
        font-weight: 500;
        margin-left: 0px;
    }
    
    .lien_activites{
        border-bottom: solid #f2f2f2f2 4px;
        padding: 0 70px 15px 70px;
        color: #333;
        margin-right: 0;
    }

    .inscription{
        margin-left: 200px;
    }
}

@media screen and (min-width: 690px){
    .header{
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .inscription{
        display: none;
    }

    .menu li{
        margin-right: 50px;
    }

    .filtre{
        flex-direction: row;
        margin-top: 30px;
    }
    .categorie{
        margin-left: 20px;
    }

    #section_populaire:nth-child(1){
        order: 1;
    }

    #hebergements:nth-child(2){
        order: 2;
    }

    #activite:nth-child(3){
        order: 3;
    }

    #section_globale{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
 
    #hebergements{
        margin-top: 0;
        height: 750px;
        background-color: #F2F2F2;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 30px;
        padding: 20px;
    }

    .resultat_hebergement{
        justify-content: space-around;
    }

    #section_populaire{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    .resultat_activite{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;    
    }

    .card_activite_1, .card_activite_2, .card_activite_3, .card_activite_4, .card_activite_5, .card_activite_6{
        margin-bottom: 30px;
        width: 500px;
        height: 250px;
    }

    .img_card_activite_1, .img_card_activite_2, .img_card_activite_3, .img_card_activite_4, .img_card_activite_5, .img_card_activite_6{
        height: 195px;
    }

    .footer{
        height: 200px;
    }

    .infos_footer{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 920px){
    #section_populaire:nth-child(1){
        order: 2;
    }

    #hebergements:nth-child(2){
        order: 1;
    }

    #activite:nth-child(3){
        order: 3;
    }

    .card_populaire{
        width: 400px;
    }

    .img_card_populaire{
        width: 200px;
    }

    .card_hebergement{
        width: 400px;
    }
    .card_activite_1, .card_activite_2, .card_activite_3, .card_activite_4, .card_activite_5, .card_activite_6{
        width: 335px;
        height: 308px;
    }

    .img_card_activite_1, .img_card_activite_2, .img_card_activite_3, .img_card_activite_4, .img_card_activite_5, .img_card_activite_6{
        height: 250px;
    }
}

@media screen and (min-width: 1024px){
        #section_globale{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #hebergements{
        background-color: #F2F2F2;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 30px;
        padding: 20px;
    }

    .card_hebergement{
        width: 335px;
    }

    #activite{
        display: flex;
        width: 100%;
    }

    #activite h2{
        margin-left: 30px;
    }

    .card_activite_1, .card_activite_2, .card_activite_3, .card_activite_4, .card_activite_5, .card_activite_6{
        margin: 20px;
    }

    .card_activite_1, .card_activite_4{
        width: 300px;
        height: 445px;
    }

    .img_card_activite_1, .img_card_activite_4{
        height: 390px;
    }

    .card_activite_2{
        width: 300px;
        height: 235px;
    }

    .img_card_activite_2{
        width: 100%;
        height: 180px;
    }

    .card_activite_3{
        width: 300px;
        height: 164px;
    }

    .img_card_activite_3{
        width: 100%;
        height: 110px;
    }

    .card_activite_5{
        width: 472px;
        height: 210px;
    }

    .img_card_activite_5{
        width: 100%;
        height: 152px;
    }

    .card_activite_6{
        width: 472px;
        height: 210px;
    }

    .img_card_activite_6{
        width: 100%;
        height: 152px;
    }

    .resultat_activite{
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
    }

    .first_part{
        display: flex;
        float: column;
    }

    .second_part{
        display: flex;
        flex-direction: column;
    }

    .three_part{
        display: flex;
    }

    .four_part{
        display: flex;
        flex-direction: row;
    }

    .footer{
        height: 200px;
    }

    .infos_footer{
        justify-content: flex-start;
    }

    .nos_hebergements{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (min-width: 1280px){
    #section_globale{
        width: 100vw;
        margin: auto;
    }

    #hebergements{
        background-color: #F2F2F2;
        width: 60%;
        height: 620px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        padding: 20px;
        justify-content: center;
    }

    .card_hebergement{
        width: 245px;
    }

    #section_populaire{
        margin-left: 0;
        margin-right: 0;
        width: 30%;
        border-radius: 20px;
        height: 620px;
        margin-left: 20px;
    }

    .card_populaire{
        width: 100%;
    }

    .img_card_populaire{
        width: 127px;
    }

    .four_part{
        flex-direction: column;
    }
    
    .card_activite_5{
        width: 300px;
        height: 195px;
    }

    .img_card_activite_5{
        width: 100%;
        height: 140px;
    }
    
   .card_activite_6{
        width: 300px;
        height: 210px;
    }
    
@media screen and (min-width: 1750px){
    .card_hebergement{
        width: 335px;
    }
}












