/* GENERAL */

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100vw;
    margin: auto;
}

a{
    text-decoration: none;
    color:#333;
    transition: color 1s;
    font-size: 1em;
    
}

a:hover{
    text-decoration: none;
    text-shadow: 8px 8px 8px rgb(170, 170, 170);
    color:#0065FC;   
}



ul{
    text-decoration: none;
    list-style-type: none;
}

h1{
    font-size: 1.5em;
    
}

h2{
    font-size: 1.5em;
}



h3{
    font: 0.5em;
    color: black;
}

p{
    font-size: 1em;
    color: black;
}

/* HEADER */

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#logo{
    margin-left: 20px;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1em;
    
}

/* SECTION PRESENTATION + RECHERCHE*/

.presentation{
    font-size: 1.1em;
    margin-left: 20px;
}

.recherche{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20px;
    margin-top: 40px;
}

.recherche form{
    display: flex;
    align-content: flex-start;
}

.icone_maps{
    background-color: #f2f2f2;
    padding: 20px 20px;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.recherche input{
    border: 0.1px solid #f2f2f2;
    padding: 10px 10px;
}

.recherche form input{
    font-size: 1.1em;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 15px;
}

.button{
    border-radius: 20px;
    padding: 20px 20px;
    margin-left: -15px;
    font-size: 1.2rem;
    color: white;
    background-color: #0065FC;
    border:none;
}

/* SECTION FILTRES */

.filtre{
    display: flex;
    flex-direction: column;
}

.filtre h3{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.2em;
}

.filtre ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -25px;
}

.categorie li{
    border-right:#cecdcd solid 2px;
    border-bottom: #cecdcd solid 2px;
    border-top: #cecdcd solid 2px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.categorie li i{
    background-color:#DEEBFF;
    color: #0065FC;
    padding: 18px;
    border-radius: 50%;
    font-size: 1.1rem;
}

.categorie li a{
    margin-left: 10px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
}

.info{
    margin-bottom: 50px;
}

.info p{
    margin-left: 20px;
    font-size: 1.2em;
}

.info i{
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    font-size: 1.5em;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: white;
    margin-right: 10px;  
}

/* SECTION HEBERGEMENTS GLOBALE*/

#section_globale{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* SECTION POPULAIRES */

#section_populaire{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100vw;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section_populaire h2
{
    padding-right: 100px;
}

.ico_populaire
{
    font-size: 1.5em;
    margin-right: 0%;
}

.element_populaire{
    display: flex;
    justify-content: space-between;
}

.card_populaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 335px;
    height: 145px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.card_populaire h3{
    
}

.card_populaire p{
    margin-top: -8px;
    margin-bottom: 40px;
}

.img_card_populaire{
    object-fit: cover;
    width: 127px;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.etoiles{
    color: #0065FC;
    font-size: .7rem;
}

/* SECTION HEBERGEMENT A MARSEILLE */

#hebergements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:1412px;
    margin-bottom: 50px;
    margin-top: 60px;
}

#hebergements h2{
    margin-left: 20px;
}

.resultat_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_hebergement{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 335px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
}

.info_card_hebergement{
    line-height: 0.6;
    margin-left: 15px;
}

.img_card_hebergement{
    object-fit: cover;
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.afficher_plus{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 20px;
}

/* SECTION ACTIVITES */

#activite{
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
}

#activite h2{
    margin-left: 20px;   
}

.resultat_activite{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

.card_activite{
    background-color: white;
    width: 335px;
    height: 188px;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgb(170, 170, 170);
    margin-bottom: 20px;
}

.img_card_activite{
    object-fit: cover;
    width: 100%;
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card_activite h3{ 
    margin-left: 20px;
}

/* SECTION FOOTER */

.footer{
    width: 100%;
    height: 450px;
    background-color: #F2F2F2;
    padding-top: 40px;
}

.infos_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer ul{
    margin-left: -20px;
    line-height: 1.9;
}

.footer a{
    color: black;
}

.footer h3{
    margin-left: 20px;
}

@media screen and (min-width: 700px){

    .header{
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .menu li{
        margin-right: 50px;
    }

    .filtre{
        flex-direction: row;
        margin-top: 30px;
    }
    .categorie{
        margin-left: 20px;
    }

    #section_populaire:nth-child(1){
        order: 1;
    }

    #hebergements:nth-child(2){
        order: 2;
    }

    #activite:nth-child(3){
        order: 3;
    }

    #hebergements{
        margin-top: 0;
        height: 750px;
    }

    .resultat_hebergement{
        justify-content: space-around;
    }

    #section_populaire{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    .resultat_activite{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card_activite{
        margin-bottom: 30px;
    }

    .footer{
        height: 200px;
    }

    .infos_footer{
        flex-direction: row;
        justify-content: space-around;
    }


























}







